.main {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 84vw;
    margin-left: 16vw;
    height: 100vh;
    position: fixed;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    align-items: center;
}

button.new_playlist {
    background-color: #157aff;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    height: 4vh;
    width: 10vw;
    margin-left: 2vw;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.new_playlist:hover {
    background-color: #338BFF;
}